# Ignore node_modules folder
node_modules

# Ignore build folder
build

# Ignore Dockerfile and dockerignore itself
Dockerfile
.dockerignore

# Ignore version control files
.git
.gitignore

# Ignore logs and temporary files
npm-debug.log
package-lock.json
*.log
